
{% extends "layout.njk" %}

{% block content %}

    <body>
        <header>
            <div class="container_first">
                <div class="links">
                    <div class="logo">
                        <img src="./assets/logo.png" alt="">
                    </div>
                    <div class="link">
                        <a href="/about">Sobre</a>
                        <a href="/recipes">Receitas</a>
                    </div>
                </div>
                   
            </div>
        </header>

        <div class="container_second">
            <div class="banner">
                <div class="texto">
                    <h1>As melhores receitas</h1>
                    <p>Aprenda a construir os melhores pratos <br>
                        com receitas criadas profissionais <br>
                        do mundo inteiro.</p>
                </div>
                <div class="chef">
                    <img src="./assets/chef.png" alt="">
                </div>
            </div>
        </div>
        
        <div class="container_third">
            <div class="section">
                <div class="title_recipes">
                    <h1>Mais acessadas</h1>
                </div>
                <div class="cards">

                    {% for item in items %}
                        <div class="card" id="{{item.id}}">
                            <img src="{{item.src}}" alt="">
                            <h2>{{item.title}}</h2>
                            <p>{{item.author}}</p>
                        </div>
                    {% endfor %}
                </div>
        </div>
        </div>

       

    </body>

     <footer>
            <div class="container_fourth">
                <h2>Todos os direitos reservados, receitas Foodfy</h2>
            </div>
    </footer>
        

{% endblock %}